@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */
html {
  scroll-behavior: smooth;
}
/* Additional custom styles */
.who-we-are-section {
    @apply p-8;
  }
  
  .left-column {
    @apply text-justify;
  }
  
  .right-column {
    @apply text-justify;
  }
  
  .message-item {
    @apply flex items-center mb-4;
  }
  .ant-card-body {
    padding: 0px!important;
  }
  .ant-menu-horizontal .ant-menu-submenu {
    padding-inline: 6px!important; /* If you're using Ant Design */
  }